.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh; /* Defina a altura mínima como 100% da viewport */
  }
  
  .login-card {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-button {
    background-color: #BC8F8F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #bc8f8f;
  }
  
    .error-message{
    margin-top: 5px;
    color: red;
    font-size: 14px; /* Tamanho da fonte para a mensagem de erro */
    margin-bottom: 10px; /* Adicione espaçamento abaixo da mensagem de erro */
  }