
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  .header {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  h1 {
    margin: 0;
    margin-right: 20px; /* Espaço entre o botão e o texto */
  }

  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    margin: 8px;
    padding: 20px;
    background: #f7eaea;
  }
  
  .headerItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nome {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .button-container {
    display: flex;
    align-items: center;
  }
  
  .button-container button {
    height: 30px;
    background-color: #bc8f8f;
    border-radius: 5px;
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.5s;
    cursor: pointer;
    padding: 8px 12px;
    margin-right: 10px;
  }
  
  .button-container button:last-child {
    margin-right: 0;
  }
  
  .button-container button:hover {
    background-color: #a06b6b;
  }
  
  .botao {
    height: 30px;
    background-color: #bc8f8f;
    border-radius: 5px;
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none; /* Adicione esta propriedade para remover a decoração de texto do link */
    padding: 8px 12px;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .botao:hover {
    background-color: #a06b6b;
  }
  
  .capa {
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 150px;
  }

  
  
  /* Media queries para ajustar o layout em telas menores */
  
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column; /* Altera a direção para coluna em telas menores */
      align-items: center; /* Centraliza os cards na horizontal */
    }
  
    .content {
      width: 90%; /* Ajusta a largura do card em telas menores */
    }
  
    .botao {
      font-size: 12px; /* Tamanho menor para o texto dos botões em telas menores */
      padding: 6px 10px; /* Espaçamento menor para os botões em telas menores */
    }
  
    .capa {
      max-height: 100px; /* Ajusta a altura máxima da imagem dentro do card em telas menores */
    }
  }
  