/* style.css */

.territorio-detalhes {
  display: flex;
  justify-content: center;
}

.territorio-info {
  max-width: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  margin: 20px;
  padding: 20px;
}

.territorio-info h2 {
  text-align: center;
  font-size: 24px;
}

.territorio-header {
  text-align: center;
  margin-bottom: 20px;
}

.territorio-header img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 20px;
}

.territorio-text {
  display: flex;
  flex-direction: column;
}

.territorio-text h3 {
  margin-top: 10px;
  font-size: 18px;
}

.territorio-text p {
  margin-top: 5px;
  text-align: justify;
}

.territorio-text h3:hover {
  cursor: pointer;
  color: #007bff; /* Cor do link quando passa o mouse */
}

.territorio-text .extra-content {
  display: none;
  margin-top: 20px;
}

.territorio-text .extra-content p {
  margin-top: 5px;
}

.territorio-text .extra-content.active {
  display: block;
}
