header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 60px;
    width: 100%;
    background-color: #BC8F8F;
    color: #fff;
    font-family: 'Arial', sans-serif; /* Escolha uma fonte agradável e legível */
    padding: 0 20px; /* Adicione espaçamento interno ao header */
  }
  
  header a {
    color: #fff;
    font-size: 20px;
    text-decoration: none; /* Remova a decoração de texto do link */
  }
  
  header a + a {
    margin-left: 20px; /* Aumente o espaçamento entre os links */
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    header {
      height: 80px;
      font-size: 16px;
      padding: 0 10px;
    }
  
    header a {
      font-size: 16px;
    }
  
    header a + a {
      margin-left: 10px;
    }
  }
  