/* style.css */

body {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .App {
    flex: 1;
  }

  
footer {
    border-top: rgb(148, 143, 143) 3px solid;
    background-color: #BC8F8F;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    footer {
      font-size: 14px;
      padding: 10px;
    }
  
    .footer-links a {
      margin-left: 10px;
    }
  }
  
  